.faucet-app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faucet-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
